@import '~/assets/css/myset.scss';

@font-face {
  font-family: "FuturaBold";
  src: url("~/assets/fonts/Futura/Futura-Bold.ttf") format("truetype");
}

:root{
  --scrollY: 0px;
  background: $white;
}

/* nuxt page transition */
.page-enter-active {
  transition:
    // filter ease-out .5s,
    opacity ease .6s,
    transform $ease-out .6s;
}
.page-leave-active {
  transition:
    // filter ease-out .3s,
    opacity ease-out .3s,
    transform $ease-out .3s;
}
.page-leave-to {
  // filter: blur(10px);
  opacity: 0;
  transform: scale(0.96);
}
.page-enter{
  // filter: blur(10px);
  opacity: 0;
  transform: scale(1.08);
}
