// color
$general: #354844;
$primary: #6DC6D1;
$secondary: #B7DAA2;
$shadow: rgba(21, 29, 28, 0.12);
$background: #F6F6F6;
$white: #f8f7ff;
$heading: #354844;
$kiki-pink: rgb(255, 157, 238);
$kiki-lavender: rgb(139, 131, 218);
$pink-gradient: linear-gradient(90deg, rgb(255, 172, 190) 0%, rgb(226, 171, 255) 100%);
// easing
$ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
// border
$border-radius: 16px;
