// color
$white: #fefefe;
$lightgrey: #F6F6F6;
$grey: #90A8AC;
$pink: rgb(255, 157, 238);
$lavender: rgb(139, 131, 218);
$pinkgrey: #CE9F94;

// objective
$general: #3A403F;
$primary: #6DC6D1;
// $secondary: #B7DAA2;
$secondary: #91d29c;
$heading: #354844;
$background: #F6F6F6;
$shadow: rgba(38, 56, 54, 0.09);
$shadow-set: 0 6px 36px 0 $shadow;

$primary-gradient: linear-gradient(90deg, $primary 0%, $secondary 100%);
$pink-gradient: linear-gradient(90deg, rgb(255, 172, 190) 0%, rgb(226, 171, 255) 100%);
$grey-gradient: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(247, 239, 251) 100%);
$border-radius: 8px;

// easing
$ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
