:root{
  // --general: #354844;
  // --primary: #6DC6D1;
  // --secondary: #B7DAA2;
  // --shadow: rgba(12, 128, 114, 0.22);
  // --background: #F6F6F6;
  // --heading: #354844;
  // --border-radius: 16px;
  // --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //
  // --kiki-pink: rgb(255, 157, 238);
  // --kiki-lavender: rgb(139, 131, 218);
  --ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
  --scrollY: 0px;
}
a{
  text-decoration: none;
  color: inherit;
}
/* nuxt page transition */
.page-enter-active {
  transition:
    // filter ease-out .5s,
    opacity ease-out .5s,
    transform var(--ease-out) .6s;
}
.page-leave-active {
  transition:
    // filter ease-out .3s,
    opacity ease-out .3s,
    transform var(--ease-out) .3s;
}
.page-leave-to {
  // filter: blur(10px);
  opacity: 0;
  transform: scale(0.9);
}
.page-enter{
  // filter: blur(10px);
  opacity: 0;
  transform: scale(1.1);
}
