SetEnvIf REDIRECT_HTTPS (.*) HTTPS=$1

Header set Access-Control-Allow-Origin "*"

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /
  RewriteRule ^index\.html$ - [L]

  RewriteCond %{HTTPS} on
  RewriteCond %{HTTP_HOST} ^www.maylily.co.jp$
  RewriteRule ^(.*)$ https://maylily.co.jp%{REQUEST_URI} [R=301,L]
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://maylily.co.jp%{REQUEST_URI} [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

#圧縮
<ifModule mod_deflate.c>
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
    AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml
    AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
    AddOutputFilterByType DEFLATE application/x-httpd-php application/x-httpd-fastphp
    AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
    AddOutputFilterByType DEFLATE font/truetype font/opentype
  </IfModule>
</ifModule>
